In [36]:
import requests

base_url = 'https://raw.githubusercontent.com/Shyamalasridar/exa-data-eng-assessment/main/data/'
json_files = ['Aaron697_Dickens475_8c95253e-8ee8-9ae8-6d40-021d702dc78e.json']

for json_file in json_files:
    url = base_url + json_file
    response = requests.get(url)

    if response.status_code == 200:
        print(f"Response received successfully for {json_file}!")

Response received successfully for Aaron697_Dickens475_8c95253e-8ee8-9ae8-6d40-021d702dc78e.json!

In [29]:
import pandas as pd
import requests

base_url = 'https://raw.githubusercontent.com/Shyamalasridar/exa-data-eng-assessment/main/data/'
json_files = ['Chase54_Crooks415_e5b7d947-da2b-9cf4-12a0-9eb2cf735330.json']

data_list = []
for json_file in json_files:
    response = requests.get(base_url + json_file)
    data = response.json()
    entry = data['entry'][0]
    patient = entry['resource']
    patient_data = {
        'fullUrl': entry['fullUrl'],
        'resourceType': patient['resourceType'],
        'id': patient['id'],
        'gender': patient['gender'],
        'birthDate': patient['birthDate'],
        'deceasedDateTime': patient.get('deceasedDateTime', ''),
        'maritalStatus': patient.get('maritalStatus', {}).get('text', ''),
        'city': patient['address'][0]['city'], 
        'state': patient['address'][0]['state'],  
        'country': patient['address'][0]['country']  
    }
    data_list.append(patient_data)

df = pd.DataFrame(data_list)
df.to_csv('patient_information.csv', index=False)

df = pd.read_csv('patient_information.csv')
df

,fullUrl,resourceType,id,gender,birthDate,deceasedDateTime,maritalStatus,city,state,country
0,urn:uuid:e5b7d947-da2b-9cf4-12a0-9eb2cf735330,Patient,e5b7d947-da2b-9cf4-12a0-9eb2cf735330,male,1977-05-12,NaN,M,Franklin,MA,US

In [34]:
import pandas as pd
import requests

base_url = 'https://raw.githubusercontent.com/Shyamalasridar/exa-data-eng-assessment/main/data/'
json_files = ['Chase54_Crooks415_e5b7d947-da2b-9cf4-12a0-9eb2cf735330.json']

data_list = []
for json_file in json_files:
    response = requests.get(base_url + json_file)
    data = response.json()
    entry = data['entry'][1]  # Assuming the encounter data is the second entry
    encounter = entry['resource']
    encounter_data = {
        'fullUrl': entry['fullUrl'],
        'resourceType': encounter['resourceType'],
        'id': encounter['id'],
        'status': encounter['status'],
        'class_code': encounter['class']['code'],
        'type_display': encounter['type'][0]['text'],
        'subject_display': encounter['subject']['display'],
        'performer_display': encounter['participant'][0]['individual']['display'],
        'start': encounter['period']['start'],
        'end': encounter['period']['end'],
        'location_display': encounter['location'][0]['location']['display'],
        'service_provider_display': encounter['serviceProvider']['display']
    }
    data_list.append(encounter_data)

df_encounter = pd.DataFrame(data_list)
df_encounter.to_csv('encounter_information.csv', index=False)

In [35]:
df = pd.read_csv('encounter_information.csv')
df

,fullUrl,resourceType,id,status,class_code,type_display,subject_display,performer_display,start,end,location_display,service_provider_display
0,urn:uuid:23d24349-8f13-e55f-d1d4-e5663aa3f2ad,Encounter,23d24349-8f13-e55f-d1d4-e5663aa3f2ad,finished,AMB,General examination of patient (procedure),Mr. Chase54 Crooks415,Dr. Isaac321 Hudson301,1995-07-06T03:00:07+01:00,1995-07-06T03:15:07+01:00,VHM SERVICES INC,VHM SERVICES INC

In [37]:
from pymongo import MongoClient

ModuleNotFoundError: No module named 'pymongo'